<div class="example-container mt-3">
  <div class="container">
    <form [formGroup]="formulario">
      <div class="row">
        <h3>Filtrar por:</h3>
        <!-- filtro titulo -->
        <div class="col-sm-3 col-6 d-flex justify-content-center">
          <mat-form-field class="w-form">
            <mat-label>Título</mat-label>
            <input
              matInput
              formControlName="titulo"
              (input)="filtrarBusqueda()"
            />
          </mat-form-field>
        </div>

        <!-- filtro genero -->
        <div class="col-sm-3 col-6 d-flex justify-content-center">
          <mat-form-field class="w-form">
            <mat-label>Géneros</mat-label>
            <mat-select
              formControlName="genero"
              (selectionChange)="filtrarBusqueda()"
              multiple
            >
              <mat-option *ngFor="let item of listaGeneros" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- filtro descripcion -->
        <div class="col-sm-3 col-6 d-flex justify-content-center">
          <mat-form-field class="w-form">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion" />
          </mat-form-field>
        </div>

        <!-- boton buscar filtros -->
        <div class="col-sm-3 col-6 d-flex justify-content-center">
          <div class="example-button-row mt-2">
            <button
              type="button"
              class="btn btn-warning"
              (click)="filtrarBusqueda()"
            >
              Filtrar búsqueda
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
